@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Poppins:wght@400&display=swap');
*{
  font-family:Ubuntu;
  padding:0;
  margin:0;
  box-sizing:border-box;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}
/* Track */
::-webkit-scrollbar-track {

}
/* Handle */
::-webkit-scrollbar-thumb {
  background-color: rgb(43, 47, 47);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #494f50;
}

 /* Code start here */
 /* login page start here */
 #userimg{
   width:100px;
   height:auto;
 }
.wrapper{
  transition:1s;
  width:100vw;
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
#login_form{
  display:flex;
  flex-direction:column;
  font-size:13px;
  text-align: right;
}
#login_form input{
  padding:7px;
  width:245px;
  margin:9px 0;
  outline: none;
  border: none;
  color:#606060;
  border-bottom: 1px solid #bfbfbf;
  font-family:Ubuntu;
  font-size: 13px;
  font-weight: ;
}
#login_form input:focus{
  color:#0068e2;
  border-bottom: 1px solid #0068e2;
}
#login_form button{
  padding: 9px;
  margin: 15px 0;
  width: 245px;
  font-size: 15px;
  border: none;
  border-radius: 6px;
  color: white;
  background-color: #0068e2;
  transition: 0.2s;
  cursor: pointer;
}
#login_form button:hover{
  background-color:#0075ff;
}
#forgot{
  font-family: Poppins;
  color:#0068e2;
  cursor:pointer;
}
#forgot:hover{
  color:red;
}
#login_page{
  display:none;
  cursor:pointer;
}
#login_page:hover{
  color:green;
}
#reset{
  display:none;
}
#login_form #reset:hover{
    background-color:#e82020;
}
 /* login page over */
/* main-content start here */
.main-container{
  display:none;
}
